@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Raleway:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Lora", serif;
}

h1,
h2 {
  font-family: "Lora", serif;
  text-align: center;
  margin: 3% 0 3% 0;
  font-size: 1.2em;
}
h1 {
  padding-top: 3%;
}

p {
  font-family: "Raleway", sans-serif;
  text-align: justify;
  margin: 5px 10px;
  padding: 5px;
  line-height: 1.5em;
  font-size: 0.9em;
}
.wrapper {
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr 6fr 1fr;
  grid-template-rows: auto;
  height: 100vh;
}

article {
  grid-template-columns: 1/2;
  grid-row: 1/4;
  background-color: rgb(235, 235, 235);
  border-right: 5px solid black;
}

.intro {
  margin: 3% 0 3% 0;
}

/* Boxes with clue */
.box {
  grid-row: 2/3;
  grid-column: 3/4;
  width: 300px;
  height: 300px;
  border: 3px solid black;
  justify-self: center;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial";
  font-size: 42px;
}

/* Nav menu */
.buttons {
  grid-row: 3/4;
  grid-column: 3/4;
  display: flex;
  flex: auto;
  align-items: flex-end;
  justify-content: center;
}

button {
  margin: 3%;
  padding: 2%;
  border-radius: 10%;
  border: 1px solid black;
}

.testOfProcedure {
  width: 94%;
  border-radius: 0;
}

.instruction {
  grid-row: 1/2;
  grid-column: 3/4;
  visibility: hidden;
  text-align: center;
  font-size: 2em;
}
.results {
  grid-row: 3/4;
  grid-column: 3/4;
  visibility: hidden;
}
.visible {
  visibility: visible;
}

ul {
  list-style: none;
}
