@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
  --white: #ffffffff;
  --rich-black-fogra-29: #00171fff;
  --prussian-blue: #003459ff;
  --cg-blue: #007ea7ff;
  --carolina-blue: #00a8e8ff;
}
/* Base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  font-size: 16px;
  box-sizing: border-box;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

/* Initial styling */
.App {
  height: 100vh;
}

.container {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  */
/* Pages styling */
/*  */

/* Styling of Main page  */

.mainPage {
  height: calc(100% - 50px);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.mainPage__card {
  border: 2px var(--carolina-blue) solid;
  padding: 30px;
  width: 450px;
  height: 400px;
  box-shadow: 0px 0px 2px 5px rgba(0, 52, 89, 0.55);
  text-decoration: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  transition: margin-bottom 0.3s ease-in-out;
}
.mainPage__card h2 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: transparent;

  transition: text-decoration-color 0.3s ease-in-out;
}

.mainPage__card p {
  text-align: justify;
  margin-bottom: 1rem;
}
.mainPage__card li {
  font-size: 0.8rem;
}
.mainPage__card:hover {
  margin-bottom: 10px;
  cursor: pointer;
}
.mainPage__card:hover h2 {
  text-decoration-color: black;
}

/* Styling of Metric page */

.formContainer,
.agreementContainer {
  padding: 2rem;
  border: 3px solid var(--carolina-blue);
  border-radius: 10px;
}
.formContainer form {
  display: flex;
  flex-flow: column nowrap;
}
.formContainer label {
  margin: 20px 20px 0;
}
.formContainer label > input,
.formContainer label > select {
  margin-left: 10px;
}
.error {
  color: red;
  margin-left: 20px;
}

.formContainer form > button {
  width: 200px;
  margin: 20px auto 0;
}

/* Styling od Agreement page */

.agreementContainer {
  padding: 50px;
  margin: 40px auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.agreementContainer h2 {
  text-align: left;
}

.agreementContainer .key-info {
  color: var(--carolina-blue);
  margin-top: 1rem;
  text-decoration: underline;
  text-decoration-color: red;
}

.agreementContainer p {
  text-align: justify;
}

.agree {
  position: relative;
}
.agreementContainer form {
  align-self: center;
  margin-bottom: 1rem;
}
.agree label {
  font-size: 1.2em;
  margin-right: 15px;
}

#agreement {
  transform: scale(1.2);
}
.agreementContainer a {
  align-self: center;
}

/*  */
/* Styling of components */
/*  */

/* Header */

header {
  background-color: var(--carolina-blue);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  height: 50px;
}
header p {
  font-weight: 500;
  color: white;
}

/* Button */
.btn {
  background-color: var(--carolina-blue);
  color: #fff;
  font-weight: 600;
  padding: 15px;
  border: 2px solid var(--prussian-blue);
  border-radius: 8px;
  text-decoration: none;
}
.btn:active,
.btn:hover {
  cursor: pointer;
  background-color: var(--cg-blue);
  border: 2px solid var(--carolina-blue);
  text-decoration: none;
}
.btn--small {
  transform: scale(0.6);
  transition: all 0.4s ease-in-out;
  transition-property: margin-bottom, border;
}
.btn--white {
  color: #000;
  background-color: #fff;
}
.btn--white:hover,
.btn--white:active {
  border: 2px solid var(--carolina-blue);
  color: #000;
  background-color: #fff;
  margin-bottom: 2px;
}

/* TutorialBox */

.tutorial__container {
  height: 400px;
  width: 500px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.tutorial__box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: none;
  justify-content: center;
  align-items: center;
}
.tutorial__box-visible {
  display: flex;
}
.tutorial__letter {
  font-size: 1.3rem;
  font-weight: 400;
}
.tutorial__text {
  display: flex;
  flex-direction: column;
}
.tutorial__header {
  align-self: center;
  margin-bottom: 1rem;
}
.tutorial__para {
  text-align: justify;
}
.tutorial__alert {
  align-self: center;
  margin-top: 1rem;
  text-decoration: underline;
}

/* Intruction styling */

.paper {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro {
  width: 800px;
  height: 500px;
  border: 3px solid var(--cg-blue);
  border-radius: 8px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
}
.intro h3 {
  margin-bottom: 20px;
  font-size: 1.1em;
}

.intro p {
  text-align: justify;
  line-height: 1.5;
}

/* Styling trening of the test */

.box {
  width: 400px;
  height: 400px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letterInBox {
  font-size: 2em;
  white-space: pre-wrap;
}

img {
  max-width: 70vw;
  max-height: 70vh;
}

/* Instructions of proactive task */
/* .container {
  max-width: 700px;
  display: flex;
  flex-flow: column wrap;
} */

.container > h3 {
  margin-bottom: 30px;
  align-self: center;
}
ul > li {
  margin-bottom: 15px;
}
.instructionBox {
  display: flex;
  margin: 20px auto;
  width: 300px;
  height: 300px;
  border: 3px solid black;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: justify;
  line-height: 1.5;
}

.space {
  margin: 40px auto;
  font-weight: 500;
}
